# API URL
API_URL=http://10.0.2.2:5000/api
SOCKET_URL=http://10.0.2.2:5000

# Firebase (production)
GOOGLE_SERVICES_JSON=./google-services.json
GOOGLE_SERVICE_INFO_PLIST=./GoogleService-Info.plist

# App
APP_NAME=ReelFlow
APP_VERSION=1.0.0
